@import "../../../silverstripe-ds/client/scss/variables.scss";
@import "../../../silverstripe-ds/client/scss/mixins.scss";

/*
  ==========================
  footer
  ==========================
*/
html {
  background-color: $color-grey-800; /* scrolling past should be the same color */
}

#footer {
  background-color: $color-grey-800;

  @include font-small();

  p {
    @include font-xsmall();
  }

  a {
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li {
    font-size: $font-size-small;
  }

  .footer__upper {
    margin-top: gap-size(1);
    padding: gap-size(4) 0 gap-size(4) 0;
    background-color: #edede2;
    color: #333333;

    .footer__upper .inner > div {
      float: left;
      width: 24%;
    }

    h3 {
      @include font-body();

      margin-bottom: gap-size(2);
    }
  }

  .footer__lower {
    padding: gap-size(10) 0;
    background-color: $color-grey-800;
    color: #fff;

    @include font-small();
  }

  .footer__bottom {
    background-color: $color-grey-800;
    color: #fff;

    @include font-small();
  }

  .statement {
    @include breakpoint-md-down() {
      margin: gap-size(8) 0 gap-size(16);
      text-align: center;

      @include font-xsmall();
    }
  }

  .link-button {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: gap-size(2, 1) 34px gap-size(2, 1) 10px;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.2;
    color: #0066ff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;

    &:after {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: #0066ff;
      color: #fff;
    }
  }

  .social-links a {
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    line-height: 38px;
    color: #666666;
    text-align: center;
    text-decoration: none;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }

  .social-links a span {
    display: none;
  }

  .social-links a:before {
    content: "";
    display: inline;
    font-family: "Font Awesome 5 Brands";
    font-size: 24px;
    line-height: 1.66;
  }

  .social-links a:hover,
  .social-links a:focus {
    color: #fff;
    text-decoration: none;
  }

  .social-links a.fb:hover,
  .social-links a.fb:focus,
  .social-links a.facebook:hover,
  .social-links a.facebook:focus {
    background-color: #3b5998 !important;
  }

  .social-links a.twtr:hover,
  .social-links a.twtr:focus,
  .social-links a.twitter:hover,
  .social-links a.twitter:focus {
    background-color: #32a7d3 !important;
  }

  .social-links a.rss:hover,
  .social-links a.rss:focus {
    background-color: #f88b02 !important;
  }

  .social-links a.lkin:hover,
  .social-links a.lkin:focus {
    background-color: #0078b1 !important;
  }

  .social-links a.ggplus:hover,
  .social-links a.ggplus:focus {
    background-color: #dc3e2e !important;
  }

  .social-links a.pint:hover,
  .social-links a.pint:focus {
    background-color: #cb2027 !important;
  }

  .social-links a.email:hover,
  .social-links a.email:focus {
    background-color: #bbca0c !important;
  }

  .social-links a.vmo:hover,
  .social-links a.vmo:focus {
    background-color: #17aee1 !important;
  }

  .social-links a.ytb:hover,
  .social-links a.ytb:focus,
  .social-links a.youtube:hover,
  .social-links a.youtube:focus {
    background-color: #cc181e !important;
  }

  .social-links a.fb:before,
  .social-links a.facebook:before {
    content: "\f09a";
  }

  .social-links a.twtr:before,
  .social-links a.twitter:before {
    content: "\f099";
  }

  .social-links a.rss:before {
    content: "\f09e";
  }

  .social-links a.lkin:before {
    content: "\f0e1";
  }

  .social-links a.ggplus:before {
    content: "\f0d5";
  }

  .social-links a.pint:before {
    content: "\f0d2";
  }

  .social-links a.email:before {
    content: "\f0e0";
  }

  .social-links a.vmo:before {
    content: "\f194";
  }

  .social-links a.ytb:before,
  .social-links a.youtube:before {
    content: "\f16a";
  }
}

#footer #footer-social-links {
  float: left;
  width: 24%;
  margin-right: 1.333%;

  @include breakpoint-md-down {
    float: none;
    width: auto;
    margin-right: 0;
    padding-bottom: 2rem;
  }
}

#footer #footer-news-links {
  width: 74.66%;
  float: left;
}

#footer .footer__upper
#footer .footer__upper p + p {
  margin-top: gap-size(1);
}

#footer-news-links ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;

  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  perspective: 1;
}

#footer-news-links ul li {
  margin-bottom: gap-size(1);
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}

#footer .footer__lower .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .footer__lower nav {
  width: 100%;
}

#footer .footer__lower nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#footer .footer__lower nav ul.alt {
  margin-top: gap-size(2);
  display: flex;

  @include breakpoint-md-down() {
    flex-direction: column;
    align-items: center;
  }
}

#footer .footer__lower nav ul li {
  display: inline-block;

  @include breakpoint-md-down() {
    margin-bottom: 1rem;
  }
}

#footer .footer__lower nav ul li + li:before {
  // content: ' – ';
  content: "  ";
  margin: 0 gap-size(2);
  opacity: 0.2;

  @include breakpoint-md-down() {
    display: none;
  }
}

#footer .footer__lower nav a {
  color: #fff;
  font-weight: bold;
}

#footer .footer__lower nav .social-links a {
  color: $color-grey-800;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #fff;
  }
}

#footer .footer__lower .ministry-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: right;
  white-space: nowrap;
  justify-content: flex-end;
}

#footer .footer__lower .ministry-links > * {
  display: block;
  align-self: center;
  justify-content: flex-end;
}

#footer .ministry-links > * + * {
  margin-left: 30px;
}

#moe-footer-link,
#moe-footer-link a {
  width: 192px;
  height: 62px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

#moe-footer-link img {
  transition: 0.2s ease-out;
  display: block;
}

#moe-footer-link a:hover img {
  opacity: 0.8;
}


#nz-govt-footer-link,
#nz-govt-footer-link a {
  width: 220px;

  img {
    max-width: 100%;
    transition: 0.2s ease-out;
    display: block;
  }
}

#nz-govt-footer-link a:hover img {
  opacity: 0.8;
}

.copyright-line {
  padding-top: gap-size(8);
  padding-bottom: gap-size(8);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint-md-down() {
    flex-direction: column;
    align-items: center;
  }

  a {
    color: inherit;
  }

  p {
    margin: 0;

    @include font-xsmall();
  }
}

.footer-cta {
  padding: gap-size(8) 0;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-md-down() {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  p {
    @include font-medium();

    font-weight: bold;
    margin: 0 0 gap-size(2);
    background-size: auto 52px;

    @include breakpoint-ml-up() {
      margin: 0;

      @include font-xmedium();
    }
  }

  a {
    background: $color-blue;
    text-transform: uppercase;
    border: 2px solid $color-blue;
    color: $color-white;
    padding: gap-size(4, 2) 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 30px;
    line-height: 1;
    z-index: 1;
    overflow: hidden;
    white-space: pre;
    position: relative;
    display: inline-block;
    transition: $transition-links-faster;

    @include breakpoint-md-down() {
      padding-top: gap-size(2, 2);
      margin: 0;
      padding-bottom: gap-size(2, 2);
      letter-spacing: -0.9px;
      font-weight: 600;
    }

    &.external--link {
      padding-right: 35px;

      &:after {
        content: "";
      }

      &:before {
        content: "\a0\f08e";
        font-family: "FontAwesome";
        font-size: 15px;
        position: absolute;
        top: 50%;
        color: #fff;
        right: 20px;
        transform: translateY(-50%);
      }
    }

    &:hover,
    &:focus {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      color: $color-white;
      background: #0D5CBA;
      border-color: #0D5CBA;
      text-decoration: none;
    }

    &:active {
      border-color: #0D5CBA;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
